@import "tailwindcss";

/* Tema base */
:root {
  --bg: #f7f3ee;  /* off-white */
  --text: #18181b;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}
